<div class="container-fluid p-0 " style="height: 4000px; margin-top: 60px;">
  <div class="contaner text-center">
    <span
      >Save on Mac or iPad with education pricing and get a gift card up to
      $150. Gift card offer ends October 2.1 <a href="#">Shop now</a></span
    >
  </div>
  <!-- iphone 15 pro -->
  <div class="position-relative">
    <div
      class="position-absolute top-0 start-50 text-white translate-middle-x mt-5" >
      <h1 class="text-center">iPhone 15 Pro</h1>
      <p class="fs-5">Titanium. So Strong. So Light. So Pro</p>
      <div class="text-center">
        <a class="me-5 text-decoration-none" href="#">Learn more</a>
        <a class="ms-5 text-decoration-none" href="#">Buy</a>
      </div>
    </div>
    <img
      class="w-100"
      src="https://cdn.tgdd.vn/Files/2023/09/15/1547517/1-170923-120558.jpg"
      alt=""
    />
  </div>
  <!-- iphone15 -->
  <div class="position-relative mt-3">
    <div
      class="position-absolute top-0 start-50 text-black translate-middle-x mt-5"
    >
      <h1 class="text-center">iphone 15</h1>
      <p class="fs-5">New Camera. New Design. Newphoria</p>
      <div class="text-center">
        <a class="me-5 text-decoration-none" href="#">Learn more</a>
        <a class="ms-5 text-decoration-none" href="#">Buy</a>
      </div>
    </div>
    <img
      class="w-100"
      src="https://shopdunk.com/images/uploaded/Tin%20tức%20iPhone%2015/116.%20đánh%20giá%20iphone%2015%20plus/thiet-ke-chinh-thuc-cua-iphone-15-plus-khong-qua-khac-biet-so-voi-cac-phien-ban-truoc-day.png"
      alt=""
    />
  </div>
  <!-- apple watch -->
  <div class="position-relative mt-3">
    <div
      class="position-absolute top-0 start-50 text-white translate-middle-x mt-5"
    >
      <h1 class="text-center"><i class="bi bi-apple"></i> WATCH</h1>
      <span class="text-danger" style="margin-left: 95px">S E R I E S 9</span>
      <p class="fs-4">Smarter. Brighter. Mightier</p>
      <div class="text-center">
        <a class="me-5 text-decoration-none" href="#">Learn more</a>
        <a class="ms-5 text-decoration-none" href="#">Buy</a>
      </div>
    </div>
    <img
      class="w-100"
      style="height: 58% !important"
      src="https://www.apple.com/newsroom/images/2023/09/apple-introduces-the-advanced-new-apple-watch-series-9/article/Apple-Watch-S9-hero-230912_Full-Bleed-Image.jpg.large.jpg"
      alt=""
    />
  </div>
  <!-- apple watch ultra-2 -->
  <div class="container-fluid">
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="position-relative">
          <div
            class="position-absolute top-0 start-50 text-black translate-middle-x mt-2"
          >
            <h3 class="text-center"><i class="bi bi-apple"></i> WATCH</h3>
            <span class="text-danger" style="margin-left: 45px"
              >U T R A L 2</span
            >
            <p class="fs-6 text-center">Next level adventure</p>
            <div class="text-center">
              <a class="me-3 text-decoration-none" href="#">Learn more</a>
              <a class="ms-3 text-decoration-none" href="#">Buy</a>
            </div>
          </div>
          <img
            class="w-100"
            style="height: 450px"
            src="https://www.apple.com/newsroom/images/2023/09/apple-unveils-apple-watch-ultra-2/article/Apple-Watch-Ultra-2-hero-230912_Full-Bleed-Image.jpg.large.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- apple watch - new -->
      <div class="col-md-6">
        <div class="position-relative">
          <div
            class="position-absolute top-0 start-50 text-black translate-middle-x mt-2"
          >
            <h3 class="text-center">
              <i class="bi bi-apple"></i> Carbon Neutral
            </h3>
            <p class="fs-6 text-center">A first for Apple Watch And Apple</p>
            <div class="text-center">
              <a class="me-3 text-decoration-none" href="#">Learn more</a>
              <a class="ms-3 text-decoration-none" href="#"
                >Watch the film <i class="bi bi-play-circle"></i
              ></a>
            </div>
          </div>
          <img
            class="w-100"
            style="height: 450px"
            src="https://cdn.mos.cms.futurecdn.net/MDsfnV5Rra8oeAkyiPZjT6.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Airpods -->
  <div class="container-fluid">
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="position-relative">
          <div
            class="position-absolute top-0 start-50 text-white translate-middle-x mt-2" >
            <h3 class="text-center"> AirPods Pro</h3>
            <p class="fs-6 text-center">Adaptive Audio. Now playing</p>
            <div class="text-center">
              <a class="me-3 text-decoration-none" href="#">Learn more</a>
              <a class="ms-3 text-decoration-none" href="#">Buy</a>
            </div>
          </div>
          <img
            class="w-100"
            style="height: 450px"
            src="https://assets-prd.ignimgs.com/2022/09/07/apple-airpods-pro-2nd-gen-hero-220907-1662579992347.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- apple Card-->
      <div class="col-md-6">
        <div class="position-relative">
          <div
            class="position-absolute top-0 start-50 text-black translate-middle-x mt-2" >
            <h3 class="text-center"> <i class="bi bi-apple"></i> Card </h3>
            <p class="fs-6 text-center">Get up to 3% Daily Cash back with very.</p>
            <div class="text-center">
              <a class="me-3 text-decoration-none" href="#">Learn more</a>
              <a class="ms-3 text-decoration-none" href="#"
                >Watch the film <i class="bi bi-play-circle"></i
              ></a>
            </div>
          </div>
          <img
            class="w-100"
            style="height: 450px"
            src="https://cdnimg.vietnamplus.vn/uploaded/izhsa/2019_08_04/applecard2.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    
  </div>
</div>
